body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;

    &::before {
        content: "";
        position: fixed;
        background: #040404 url();
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1; 
    }
}