$link-color: #18d26e;
$body-color: #040404;

body {
    font-family: "Open Sans", sans-serif;
    background-color: $body-color;
    color: #fff;
    position: relative;
    background: transparent;

    &::before {
        content: "";
        position: fixed;
        background: $body-color url(../assets/2020619.jpg);
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1; 
        filter: brightness(0.5)
    }
}

a {
    color: $link-color; 
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


#underdevelopment {
    * {
        transition: ease-in-out 0.3s;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        i.development-icon {
            font-size: 10em
        }

        h2 {
            font-size: 2em;
            margin-bottom: 35px;
        }
    }
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #underdevelopment {
        .container {
            padding: 10px;
        } 

        i.development-icon {
            font-size: 7em !important;
        }

        h2 {
            font-size: 1.5em !important;
        }
    }
}

@media (max-width: 768px) {
    #underdevelopment {
        i.development-icon {
            font-size: 4em !important;
        }

        h2 {
            font-size: .7em !important;
        }
    }
}